.page {
    @apply flex flex-col items-start w-full max-w-[1920px] min-h-screen pl-20;
}

.mainPageContainer {
    @apply flex flex-row items-start w-full;
}

.leftSide {
    @apply flex flex-col items-start w-[50%];
}

.rightSide {
    @apply w-[40%] flex justify-center items-start;
}

.nav-bar-no-logo {
    @apply flex flex-row items-center justify-between pt-8 font-semibold w-full pr-8 text-base;
}

.nav-links {
    @apply flex flex-row gap-25;
}
.nav-links > a {
    @apply relative inline-block text-base;
}
.nav-links > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 1.5rem;
    height: 3px;
    width: 0;
    background-color: rgb(37 99 235);
    border-radius: 9999px;
    transition: all 250ms;
}
.nav-links > a:hover::after {
    width: 100%;
}

.nav-actions {
    @apply flex flex-row items-center gap-6 pl-24;
}

.event {
    @apply mt-10;
}
.containerCardsInfo {
    @apply mt-30 w-[95%] flex flex-row justify-between;
}

.card-info h2 {
    @apply text-[24px] font-semibold mt-[70px];
}
.card-info h3 {
    @apply text-[16px] font-medium mt-2;
}
.card-info ul {
    @apply text-[16px] text-[#908F8F] font-light mt-5;
}
.card-info li {
    @apply mt-2 list-disc;
}

.speakerContainer {
    @apply w-full mt-20 flex flex-wrap justify-center gap-10 lg:flex-nowrap lg:justify-between items-stretch;
}
.social-links {
    @apply flex flex-row gap-4 mt-auto mb-8 justify-center items-center;
}
